fastapi
uvicorn
sqlmodel
streamlit
requests
pandas
matplotlib
streamlit-option-menu
google-generativeai
python-multipart
python-dotenv
pillow

# to install the dependencies, run: pip install -r requirements.txt
