fastapi
uvicorn
sqlmodel
streamlit
requests
pandas
matplotlib
google-generativeai
python-multipart 
python-dotenv

# to install the dependencies, run: pip install -r requirements.txt
# to run the FastAPI app, use: uvicorn main:app --reload